<h1>Profile</h1>   
     
<div class="grid_6 alpha">
  <%= render :partial => 'favorites' %>  
</div>        
<div class="grid_6 omega">
  <%= render :partial => 'results' %>  
</div>   
<div class="clear"></div>
<%= render :partial => 'myroutes' %>  